/* General Styling */
body {
    font-family: "Poppins", serif;
    text-align: center;
    background: linear-gradient(135deg, #00010D, #010326, #2D0140, #010326);
    margin: 0;
    padding: 0;
    color: #A305A6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 60px;
    animation: fadeIn 1s ease-in-out;
}

.selection-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

/* Symbol Selection (Left Side) */
.symbol-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-right: auto; /* Push to the left */
}

/* Player Mode Selection (Right Side) */
.player-mode {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
    margin-left: auto; /* Push to the right */
}

/* Common Radio Input Styling */
.radio-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 220px;
    cursor: pointer;
    height: 50px;
    position: relative;
}

.radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 45px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
}

.radio-input label:hover::before {
    transition: all 0.2s ease;
    background-color: #2D0140;
}

.radio-input label:has(input:checked)::before {
    background-color: #010326;
    border-color: #A305A6;
    height: 50px;
}

.radio-input label .text {
    color: #fff;
}

.radio-input input[type="radio"] {
    background-color: #202030;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-input input[type="radio"]:checked {
    background-color: #A305A6;
    animation: pulse 0.7s forwards;
}

.radio-input input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #A305A6;
    transform: scale(0);
}

.radio-input input[type="radio"]:checked::before {
    transform: scale(1);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

/* Game Board Styling */
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
    width: 310px;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #000000, -1px -1px 90px #0f141a;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.cell:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 6px #A305A6, -3px -3px 6px #A305A6;
}

#status {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #007bff;
    animation: fadeIn 1s ease-in-out;
}

.buttons {
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
    
  }
  
  .buttons button {
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 20px;
    color: #0f141a;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  
  .buttons button:before, .buttons button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #A305A6;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button:after {
    left: 0;
    bottom: 0;
  }
  
  .buttons button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  .buttons button span:before, .buttons button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #A305A6;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button span:after {
    left: 0;
    bottom: 0;
  }
  
  .buttons button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .buttons button p:before, .buttons button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
  }
  
  .buttons button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .buttons button p:after {
    content: attr(data-text);
    top: 150%;
    color: #A305A6;
  }
  
  .buttons button:hover:before, .buttons button:hover:after {
    width: 100%;
  }
  
  .buttons button:hover span {
    z-index: 1;
  }
  
  .buttons button:hover span:before, .buttons button:hover span:after {
    height: 100%;
  }
  
  .buttons button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .buttons button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .buttons button.start {
    background-color: #A305A6;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  }
  
  .buttons button.start p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .buttons button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes start {
    from {
      top: -50%;
    }
  }
  
  .buttons button.start:hover:before, .buttons button.start:hover:after {
    display: none;
  }
  
  .buttons button.start:hover span {
    display: none;
  }
  
  .buttons button:active {
    outline: none;
    border: none;
  }
  
  .buttons button:focus {
    outline: 0;
  }

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}